body, html {
    height: 600px;
  }
  
  * {
    box-sizing: border-box;
  }

  
 

  .bg-image {
    /* The image used */
    background-image: url("/images/loginb3.jpg");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Position text in the middle of the page/image */
  .bg-text {
   
    color: white;
    font-weight: bold;
    
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }


 
.form-modal{
    position:relative;
    width:450px;
    height:auto;
    margin-top:1rem;
    left:50%;
    transform:translateX(-50%);
    background:#fff;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow:0 3px 30px 0px rgba(0, 0, 0, 0.1)
}

.form-modal button{
    cursor: pointer;
    position: relative;
    text-transform: capitalize;
    font-size:1em;
    z-index: 2;
    outline: none;
    background:#fff;
    transition:0.2s;
}

.form-modal .btn{
    border-radius: 20px;
    border:none;
    font-weight: bold;
    font-size:1.2em;
    padding:0.8em 1em 0.8em 1em!important;
    transition:0.5s;
    border:1px solid black;
    /* margin-bottom:0.5em;
    margin-top:0.5em; */
}

.form-modal .login , .form-modal .signup{
    background:royalblue;
    color:#fff;
}

.form-modal .login:hover , .form-modal .signup:hover{
    background:#222;
}

.form-toggle{
    position: relative;
    width:100%;
    height:auto;
}

.form-toggle button{
    width:50%;
    float:left;
    /* padding:1.5em; */
    margin-bottom:1.5em;
    
    border:none;
    transition: 0.2s;
    font-size:1.1em;
    font-weight: bold;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* .form-toggle button:nth-child(1){
    border-bottom-right-radius: 20px;
}

.form-toggle button:nth-child(2){
    border-bottom-left-radius: 20px;
} */

#login-toggle{
    background:white;
    color: royalblue;
    /* border-bottom: 1.5px solid black; */
}

.form-modal form{
    position: relative;
    width:94%;
    height:auto;
    left:50%;
    transform:translateX(-50%);  
}
input{
    border-bottom: 1.5px solid black;
    border: none;
    outline: none;
}

#login-form , #signup-form{
    position:relative;
    width:100%;
    height:auto;
    padding-bottom:1em;
}

#signup-form{
    display: none;
}




.form-modal input{

    border-bottom: 1.5px solid black;
    border: none;
    outline: none;
   
    /* position: relative;
    width:100%;
    font-size:1em;
    padding:1.2em 1.7em 1.2em 1.7em;
    margin-top:0.6em;
    margin-bottom:0.6em;
    border-radius: 20px;
    border:none;
    background:#ebebeb;
    outline:none;
    font-weight: bold;
    transition:0.4s; */
}

.form-modal input:focus , .form-modal input:active{
    transform:scaleX(1.02);
    border-bottom: 1.5px solid black;
}

.form-modal input::-webkit-input-placeholder{
    color:#222;
    border-bottom: 1.5px solid black;
}




.form-modal p{
    font-size:16px;
    font-weight: bold;
}

.form-modal p a{
    color:#57b846;
    text-decoration: none;
    transition:0.2s;
}

.form-modal p a:hover{
    color:#222;
}


.form-modal i {
    position: absolute;
    left:10%;
    top:50%;
    transform:translateX(-10%) translateY(-50%); 
}


.-box-sd-effect:hover{
    box-shadow: 0 4px 8px hsla(210,2%,84%,.2);
}

@media only screen and (max-width:500px){
    .form-modal{
        width:100%;
    }
}

@media only screen and (max-width:400px){
    i{
        display: none!important;
    }
}
  













.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent ;
    
    color: black;
    font-size: 20px;
    margin-bottom: 1rem;
    text-align: center;
    font-family: "Avenir W01";
    font-weight: 400; }
  
  .headertitle {
    font-family: "Avenir W01";
    font-weight: 400;
    padding-top:16px; }
  
  .iconbtn {
    padding-top:16px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-family: FontAwesome, sans-serif;
    font-size: 25px;
    font-weight: 400;}
  
  .iconbtn:hover {
    background-color: rgba(88, 88, 88, 0.15);}
  
  .iconbtn:active {
    background-color: rgba(88, 88, 88, 0.35);}
  
  .iconbtn.back {
    float: left;
    margin-left: 2rem;
    text-align: center;}
  



    .inputDiv {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin: auto;
      }



    .txt-center{
        text-align: center;
    }
    
   
    
    .center1{
        margin: auto;
    }
    
    .center3{
        display: flex;
        align-items: center;
        resize: both;
    }
    
    .two-step-div .two-title{
        font-size: 22px;
        font-weight: bold;
        color: #3c3c3c;
        margin-top: 15px;
    }
    
    .two-step-div .my-img{
        width: 140px;
        height: auto;
    }
    
    .two-step-div .two-p{
        font-size: 17px;
        margin-top: 15px;
        margin-bottom: 30px;
        color: #040404;
    }
    
    .two-step-div #form{
        direction: ltr;
        border-bottom: 1.5px solid black;
    }
    
    .two-step-div #form input{
        border-color: transparent;
        background: transparent;
        border-bottom: 1.5px solid black;
        text-align: center;
        font-size: 20px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .two-step-div #form input:focus{
        border-bottom: 1.5px solid black;
        outline: 0px transparent !important;
        box-shadow: transparent !important;
        border-right: transparent !important;
        border-left: transparent !important;
        border-top: transparent !important;
        border-color: #060606;
        animation: border-pulsate 1.5s infinite;
        -webkit-tap-highlight-color: transparent;
    }
    
    .two-step-div .not-first:disabled{
        background-color: transparent;
        border-bottom: 1px solid black !important;
    }
    
    @-moz-keyframes border-pulsate {
        0% {
            border-color: #00AEEF;
        }
        50% {
            border-color: rgba(0,0,0,0.3);
        }
        100% {
            border-color: #00AEEF;
        }
    }
    @-webkit-keyframes border-pulsate {
        0% {
            border-color: #00AEEF;
        }
        50% {
            border-color: rgba(0,0,0,0.3);
        }
        100% {
            border-color: #00AEEF;
        }
    }
    @-o-keyframes border-pulsate {
        0% {
            border-color: #00AEEF;
        }
        50% {
            border-color: rgba(0,0,0,0.3);
        }
        100% {
            border-color: #00AEEF;
        }
    }
    @keyframes border-pulsate {
        0% {
            border-color: #00AEEF;
        }
        50% {
            border-color: rgba(0,0,0,0.3);
        }
        100% {
            border-color: #00AEEF;
        }
    }
    
    .btn-verify{
        background: #00AEEF;
        color: #ffffff;
        border-color: transparent;
        border-radius: 7px;
        /* padding: 10px 25px; */
        font-size: 6px;
        cursor: pointer;
        /*transition: all 0.5s;*/
        width: 200px;
        position: relative;
        transition: 0.5s ease;
    
    }
    
    .btn-verify:hover {
        transform: translateY(-8px);
    
    }
    
    .btn-verify:disabled{
        background: rgba(103, 187, 209, 0.93);
        cursor: auto;
    }
    
    .btn-verify:disabled:hover{
        transform: none;
    
    }





    





    
footer {
    background-color: #1b1a1a;
    padding: 3em 4em 2em;
}



    #copyright {
        text-align: center;
        color:#fff;
        font-family: lato;
    }

#owner {
    text-align: center;
    padding: 20px 0 0px;
    color: #fff;
    font-family: lato;
}

    #owner a {
        color:#fff;        
    }

/* iPads to Smartphone for Common Elements ----------- */  
@media only screen and (max-width : 1024px) {    

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
        position: relative;
    }

    .col-3#newsletter {
        width: 100%;
        position: relative;
        padding-bottom: 0;
        padding-top: 1em;
    }    
        
    footer .footer-cat {
        margin-left: 25px;
    }
     
    .footer-toggle,.footer-toggle::after {
        background: #fff;
        height: 2px;
        width: 15px;
        position: absolute;
        display: block;
        -webkit-transition:all .4s ease-in;
        transition:all .4s ease-in;
    }

    .footer-toggle {        
        top: 11px;
        cursor:pointer;
    }

    .footer-toggle::after {
        content: '';
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }

    .btnActive .footer-toggle::after {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    .footer-cat-links {
        margin: 0 0em 0px 1.6em;
    }

        .footer-cat-links a {
            pointer-events: none;
        }
    
    .footer-cat-links li {
        line-height: 0;
        opacity: 0;
    }

    .footer-cat-links.active > li{
        line-height:2;
        opacity:1;
    }

    .social-1 {
        display: none !important;
    }

    .social-2 {
        display: block;
        position: absolute;
        top: 7.5em;
        bottom: 0px;
        height:20px;
        padding-bottom: 1.5em;
        width: 100%;
    }

    #address {
        margin-top: 6em;
    }

    #newsletter #address li i {
        width: auto;
    }

    #newsletter #address li div {
        font-size: 14px;
        width: auto;
        text-align: -webkit-auto;
        float: none;
        line-height: 2;
        display: inline-block;
        padding: 10px 0 15px;
    }

    #newsletter #address li div:last-child {
        padding-bottom: 0;
    }

    #newsletter #address li:not(:first-child) {
        padding: 20px 0 0;
    }
}

/* iPads (portrait)----------- */  
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    
    footer {
        padding-right:3em;
        padding-left:3em;
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* iPads (landscape) ----------- */  
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {  
    
    section {
        padding-bottom: 3em;
    }

    .sec-heading {
        padding:1em 0;
    }
    
    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* Mini Tablet ----------- */  
@media only screen and (max-width : 600px) {  
    
    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }

    .col-6 {
        width: 100%;
        display: block;
    }
    
    footer {
        padding: 3em 2em 2em;
    }
}

/* Smartphones (portrait and landscape) ----------- */  
@media only screen and (max-width : 480px) {  

    .col-6 {
        width: 100%;
        display: block;
    }
    
    footer {
        padding-right: 1em;
        padding-left: 1em;
    }
}