* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 0;
    display: none;
}



.header {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  
    color: black;
    font-size: 20px;
    text-align: center;
    font-family: "Avenir W01";
    font-weight: 400; }
  
  .headertitle {
    font-family: "Avenir W01";
    font-weight: 400;
    padding-top:16px; }
  
  .iconbtn {
    padding-top:16px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    font-family: FontAwesome, sans-serif;
    font-size: 25px;
    font-weight: 400;}
  
  .iconbtn:hover {
    background-color: rgba(88, 88, 88, 0.15);}
  
  .iconbtn:active {
    background-color: rgba(88, 88, 88, 0.35);}
  
  .iconbtn.back {
    float: left;
    text-align: center;}
  



body {
    position: relative;
}
.containar {
    position: relative;
    height: 80vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    overflow: hidden;
}
.wrapper {
    height: 470px;
    width: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    /* backdrop-filter: blur(3px); */
    z-index: 1;
}
h1 {
    font-size: 25px;
    text-transform: capitalize;
}
p {
    font-size: 15px;
}
h1, p {
    text-align: center;
    margin: 0 auto;
}
form img {
    display: block;
    margin: 15px auto;
    height: 150px;
    width: 150px;
}
form input[type="text"], form input[type="password"], button {
    display: block;
    margin: 20px auto;
}
.code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
form input[type="number"] {
    text-align: center;
    width: 15%;
    margin: 10px 5px;
    padding: 5px ;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
::placeholder {
    color: black;
}
button {
    margin: 10px auto;
    padding: 8px 30px;
    font-size: small;
    font-weight: 500;
    border-radius: 10px;
    background: rgb(0, 40, 158);
    text-transform: uppercase;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(212, 211, 211);
    border: none;
    transition: 0.24s ease-in-out;
}
.cancel {
    background: none;
    border: 1px solid rgb(0, 40, 158);
}
button:hover {
    background-color: blue;
    padding: 8px 38px;
}
.cancel:hover {
    padding: 8px 25px;
    background: rgb(35, 70, 173);
    border: 1px solid rgba(106, 112, 112, 0.226);
}


@keyframes animate {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    100% {
        transform: translateY(-800px) rotate(1080deg);
    }
}





footer {
    background-color: #151515;
    padding: 3em 4em 2em;
}

    #copyright {
        text-align: center;
        color:#fff;
        font-family: lato;
    }

#owner {
    text-align: center;
    padding: 20px 0 0px;
    color: #fff;
    font-family: lato;
}

    #owner a {
        color:#fff;        
    }

/* iPads to Smartphone for Common Elements ----------- */  
@media only screen and (max-width : 1024px) {    

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
        position: relative;
    }

    .col-3#newsletter {
        width: 100%;
        position: relative;
        padding-bottom: 0;
        padding-top: 1em;
    }    
        
    footer .footer-cat {
        margin-left: 25px;
    }
     
    .footer-toggle,.footer-toggle::after {
        background: #fff;
        height: 2px;
        width: 15px;
        position: absolute;
        display: block;
        -webkit-transition:all .4s ease-in;
        transition:all .4s ease-in;
    }

    .footer-toggle {        
        top: 11px;
        cursor:pointer;
    }

    .footer-toggle::after {
        content: '';
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
    }

    .btnActive .footer-toggle::after {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    .footer-cat-links {
        margin: 0 0em 0px 1.6em;
    }

        .footer-cat-links a {
            pointer-events: none;
        }
    
    .footer-cat-links li {
        line-height: 0;
        opacity: 0;
    }

    .footer-cat-links.active > li{
        line-height:2;
        opacity:1;
    }

    .social-1 {
        display: none !important;
    }

    .social-2 {
        display: block;
        position: absolute;
        top: 7.5em;
        bottom: 0px;
        height:20px;
        padding-bottom: 1.5em;
        width: 100%;
    }

    #address {
        margin-top: 6em;
    }

    #newsletter #address li i {
        width: auto;
    }

    #newsletter #address li div {
        font-size: 14px;
        width: auto;
        text-align: -webkit-auto;
        float: none;
        line-height: 2;
        display: inline-block;
        padding: 10px 0 15px;
    }

    #newsletter #address li div:last-child {
        padding-bottom: 0;
    }

    #newsletter #address li:not(:first-child) {
        padding: 20px 0 0;
    }
}

/* iPads (portrait)----------- */  
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
    
    footer {
        padding-right:3em;
        padding-left:3em;
    }

    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* iPads (landscape) ----------- */  
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : landscape) {  
    
    section {
        padding-bottom: 3em;
    }

    .sec-heading {
        padding:1em 0;
    }
    
    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }
}

/* Mini Tablet ----------- */  
@media only screen and (max-width : 600px) {  
    
    .col-3 {
        display: block;
        width: 100%;
        padding-bottom: 1em;
    }

    .col-6 {
        width: 100%;
        display: block;
    }
    
    footer {
        padding: 3em 2em 2em;
    }
}

/* Smartphones (portrait and landscape) ----------- */  
@media only screen and (max-width : 480px) {  

    .col-6 {
        width: 100%;
        display: block;
    }
    
    footer {
        padding-right: 1em;
        padding-left: 1em;
    }
}



.jumbotron {
    position:relative;
    overflow:hidden;
  }
  
  .jumbotron .container {
    position:relative;
    z-index:2;
    
    background:rgba(0,0,0,0.2);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
  }
  
  .jumbotron-background {
    object-fit:cover;
    font-family: 'object-fit: cover;';
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.5;
  }
  
  img.blur {
      -webkit-filter: blur(8px);
      filter: blur(8px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  
  }